.clear {
	height: 100px;
	clear: both;
}

/* footer begin */
.footer {
	width: $width_main;
	height: 100px;
	position: relative;
	margin: -100px auto 0;
	color: $color_black;
	outline: 1px solid $color_black;
}